{% extends 'blog/base.html'%}

{% block content %}

    <h1>Zde budou nejake blabla o meee</h1>
    <ul>
        <li>Bude tu megaobrazek hor</li>
        <li>Pindy jak miluji kodovani</li>
        <li>atd.....</li>
    </ul>

{% endblock content %}