{% extends 'blog/base.html'%}

{% block content %}

    <h1>Zde budou blogove prispevky</h1>

        <ul>
            <!-- Sample bullets of the content -->
            <li>Zde budou me prispevky</li>
            <li>Pekne jeden za druhym</li>
            <li>Budou se dat editovat jen mnou</li>
            <li>Budou tam moct byt i obrazky</li>

            <!--Links for the top sections-->
            <li><a href="{% url 'blog-about_me' %}" target="_blank">Link na stranku about_me</a></li>
            <li><a href="{% url 'blog-my_work' %}" target="_blank">Link na stranku my_work</a></li>

            <!--Link to create new post if the user is authenticated-->
            {% if user.is_authenticated %}
                <li><a href="{% url 'post-create' %}" target="_blank">Link na vytvoreni prispevku</a></li>
            {% endif %}
          </ul>

        <!--For loop for posting blog posts-->
        {% for post in posts %}
            <h1>{{ post.title }}</h1>
            <p>By {{ post.author }} on {{ post.date_posted }}</p>
            <p>{{ post.content }}</p>
        {% endfor %}


    <!-- Pagination -->
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page= {{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page= {{ num }} ">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page= {{ num }} ">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page= {{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page= {{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    {%endif%}
{% endblock %}