{% extends 'blog/base.html'%}

{% block content %}

    <h1>Kamo zde je stranka o mych vytvorech</h1>
    <ul>
        <li>Asi print screen kazdeho projektu</li>
        <li>a popis</li>
        <li>a link nebo co na dany projekt</li>
    </ul>

{% endblock content %}