{% extends 'blog/base.html'%}

{% block content %}

    <h2 class="article-title">{{ object.title }}</h2>
    <p class="article-content">Text clanku: {{ object.content }}</p>
    <p class="article-content">Autor je: {{ object.author }}</p>
    <p class="article-content">Bylo to vytvoreno: {{ object.date_posted }}</p>
    {% if object.author == user %}
        <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
        </div>
    {% endif %}

{% endblock content %}